<div class="animated fadeIn">

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header text-right">
          <!-- <span>
          <i class="fa fa-align-justify"></i> News & Events
          </span> -->
          <!-- <span class="text-right" routerLink="edit/id">

          </span> -->
        <button type="button" class="btn btn-primary" data-toggle="modal" (click)="primaryModal.show();action = 'Create';dataInPopUp()">
           <i class="fa fa-plus" style="    margin-right: 5px;"></i>Create Post
          </button>
        </div>

        <div class="card-body">
          <table class="table table-responsive-sm table-hover table-outline mb-0 table-striped">
            <thead class="thead-light">
              <tr>
                <!--<th class="text-center"><i class="icon-people"></i></th>-->
                <th>Title</th>
                <th class="text-center">Description</th>
                <th>Date</th>
                <th class="text-center">Action</th>
                <!-- <th>Status</th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let post of posts">
                <!--<td class="text-center">-->
                  <!--<div class="avatar">-->
                    <!--<img src="assets/img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">-->
                    <!--<span class="avatar-status badge-success"></span>-->
                  <!--</div>-->
                <!--</td>-->
                <td>{{post.data.title}}</td>
                <td class="text-center">{{post.data.description}}</td>
                <td>{{post.data.createdOn}}</td>
                <td class="text-center">
                  <span class="badge badge-success" data-toggle="modal" (click)="primaryModal.show();dataInPopUp(post);action = 'Edit'"><i class="fa fa-pencil  "></i></span>
                  <span class="badge badge-danger" data-toggle="modal" (click)="dangerModal.show();dataInPopUp(post);"><i class="fa fa-close "></i></span>

                </td>
              </tr>
              <tr *ngIf="posts != undefined  && posts != null && posts.length <= 0">
                <td colspan="4" class="text-center"><strong>No posts published yet.</strong></td>
              </tr>

            </tbody>

          </table>
        </div>
        <!-- </div> -->
      </div>
      <!--/.col-->
    </div>
  </div>
</div>

<div bsModal #primaryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{action}} Post</h4>
        <button type="button" class="close" (click)="primaryModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
    <div class="col-md-12">
      <div class="card">
        <!-- <div class="card-header">
          <strong>Basic Form</strong> Elements
        </div> -->
        <div class="card-body">
          <form  class="form-horizontal">

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Title</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Text" [(ngModel)]="post.title">
                <!-- <span class="help-block">This is a help text</span> -->
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="textarea-input">Description</label>
              <div class="col-md-9">
                <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Content.."  [(ngModel)]="post.description"></textarea>
              </div>
            </div>



            <!--<div class="form-group row">-->
              <!--<label class="col-md-3 col-form-label" for="file-multiple-input">Upload Image</label>-->
              <!--<div class="col-md-9">-->
                <!--<input type="file" id="file-multiple-input" name="file-multiple-input" multiple>-->
              <!--</div>-->
            <!--</div>-->
          </form>
        </div>
        <!-- <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div> -->
      </div>
    </div>
    </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="primaryModal.hide()">Close</button>
        <button type="button" class="btn btn-primary" (click)="updatePost(action,primaryModal.hide())">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--/.col-->

<div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete Warning</h4>
        <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are You sure you want to delete this post?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="dangerModal.hide()">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="deletePost(dangerModal.hide())">Delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
