<div class="animated fadeIn">
  <div class="row">
   
    <!--/.col-->
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i>App Users
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Image</th>
                <th>Username</th>
                <th>Email</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let user of users">
                <td><img src="{{user.image}}" alt="{{user.username}}"></td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>
                  <span class="badge badge-success" *ngIf="user.online == true">Online</span>
                   <span class="badge badge-secondary" *ngIf="user.online == undefined || user.online == false">Offline</span>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  
</div>
