<div class="animated fadeIn">
  <div class="row">

    <!--/.col-->
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i>Previous Bookings
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Booking Id</th>
              <th>Customer</th>
              <th>Service Provider</th>
              <th>Location</th>
              <th>Date</th>
              <th>Amount</th>
              <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor = "let user of users">
              <td>{{user.$key}}</td>
              <td>{{user.customerName}}</td>
              <td>{{user.serviceProvider.serviceProvusername}}</td>
              <td>{{user.location}}</td>
              <td>{{user.jobdate}}</td>
              <td>{{user.serviceCost || "NA"}}</td>
              <td>{{user.status}}</td>

            </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
    <!--/.col-->
  </div>

</div>
