<div class="animated fadeIn">
  <div class="row">

    <!--/.col-->
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i>Service Providers
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Image</th>
              <th>Username</th>
              <th>Email</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor = "let user of users">
              <td style="width:100px"><img src="{{user.image}}" alt="{{user.username}}" style="width: 100px;
    height: 100px;
    border-radius: 50px;"></td>
              <td>{{user.username}}</td>
              <td>{{user.email}}</td>
              <td>
                <span class="badge badge-success" *ngIf="user.online == true">Online</span>
                <span class="badge badge-secondary" *ngIf="user.online == undefined || user.online == false">Offline</span>
              </td>
              <td  *ngIf="!user.isActive" >
                <button (click)="changeStatus(true,user.$key)">Activate</button>
              </td>
              <td  *ngIf="user.isActive">
                <button (click)="changeStatus(false,user.$key)">Deactivate</button>
              </td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
    <!--/.col-->
  </div>

</div>
